.result-div {
    display: flex;
    gap: 1rem;
}


#l0 {
  color:  rgb(1, 219, 99);
}

#l1 {

    color:  rgb(1, 219, 99)
}

#l2 {
  color: rgb(1, 219, 99);
}

#l3 {
  color: rgb(1, 219, 99);
}

#l4 {
  color: rgb(230, 230, 0);
}

#l5 {
  color: rgb(230, 230, 0);
}


#l6 {
  color: rgb(230, 230, 0);
}


#l7 {
  color: rgb(255, 30, 0);
}

#l8 {
  color:  rgb(255, 30, 0);
}

#l9 {
  color:  rgb(255, 30, 0);
}

#l10 {
  color: rgb(255, 30, 0);
}
